body{
    overflow: hidden;
    background-image: url('Ocean.png');
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

button {
color: white;
background-color: rgb(16, 25, 102);
font-size: 20px;
font-weight: 800;
padding: 20px;
border-radius: 5px;
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
